@import "../../assests/sass/_variables.scss";


.Cards__list {
  width: 100%;
  height: 100vh;
  flex: 1;
  display: flex;
  overflow-x: auto;
  background-color: $color-black;
 
}

@media screen and (min-width: 1024px) {
  .Cards__list {
 height: fit-content;
  width: 100%;
  background-color: $color-black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  overflow-y: scroll;
  padding-top: 0px;
  margin-top: 0px;
 margin-left: 5%;
  
  } }
@media screen and (min-width: 1200px) {

  .Cards__list {
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
  gap: 20px;
  margin: auto;
  overflow-x: auto; 
  margin-left: 0;
  padding-bottom: 10%;

}
}