@import "../../assests/sass/_variables.scss";
* {
  padding: 0px;
  margin: 0px;
}

.Card { 
  width: 250px;
  height: 400px;
  background-color: $secondary;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
 
  // box-shadow: 3px 2px 2px $color-tertiary;
  
 
  


.Card__list {
  // height: 100vh;
  // width: 100%;
  // background-color: green;
  // border: black;

}


  .Card__image {
    height: 30%;
    width: 15%;
  }

  .Card__button {
    height: 10%;
    width: 60%;
    background-color: $color-tertiary;
    border-radius: 40px;
  }
}

