// App.scss
@import "./assests/sass/_variables.scss";
* {
  padding: 0px;
  margin: 0px;
  color: $color-white;

}

.app {
  height: 100%;
  overflow-x: scroll;

  background-color: $color-black;
  
 
  .greeting {
    text-align: center;
    padding: 2%;
    width: 100%;
    

    &__heading {
      color:$color-tertiary;
     
      
    }

    
    }

    .page {
      height: 110vh;
      display: flex;
      justify-content: flex-start;
    }

  }

 

