// App.scss
@use "./assests/sass/_variables.scss";
* {
  padding: 0px;
  margin: 0px;
}

.app {
 
  .greeting {
    text-align: center;

    &__heading {
      color:palegreen;  
    }

    & > * {
      margin: 20px;
    }
    
    }

    .page {
      height: 100vh;
      width: 100vw;
      background-color: rgb(97, 97, 18);
      display: flex;
      justify-content: flex-start;
    }
  }

 



