@import "../../assests/sass/_variables.scss";



.Nav {
  display: none;
}

@media screen and (min-width: 1024px ) {
  
.Nav {
  height: 50vh;
  width: fit;
  background-color:$secondary;
  margin-top: 1%;
  padding-top: 1% ;
  padding-left: 15px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;

  .Nav__label-search {
    text-align: center;
   
  }
  .Nav__search{
    height: 30%;
    padding: 30%;
    background-color: aqua;
  }

}
}
@media screen and (min-width: 1200px) {
  .Nav {
    height: 80vh;
    width: 200px;
  
   

  }

}