@import "../../../assests/sass/variables";

 

.Search {
  height: 50%;
  width: fit-content;
  padding-top: 5%;
  padding-left: 3%;
  margin-top: 10%;
  margin-bottom: 20%;
  font-size: 13px;
  color: $color-white;
  border: $color-tertiary 3px outset;
  background-color: $secondary;
}
 